.library {
  position: fixed;
  background: white;
  left: 0;
  top: 0;
  width: 20rem;
  height: 100%;
  box-shadow: 2px 2px 50px rgb(198, 198, 198);
  overflow: scroll;
  transform: translateX(-100%);
  transition: background 1s ease;
  opacity: 0;

  h2 {
    padding: 2rem;
  }
}

.library-song {
  display: flex;
  align-items: center;
  padding: 1rem 2rem 1rem 2rem;
  cursor: pointer;
  transition: all 0.5s ease;
}

.library-song:hover {
  background: rgb(255, 241, 241);
}

.library-song-img {
  width: 30%;
}

.song-description {
  padding-left: 1rem;
}

.library-song-h3 {
  font-size: 1rem;
}

.library-song-h4 {
  font-size: 0.7rem;
}

// scroll bar style

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(155, 155, 155, 0.5) transparent;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  border-radius: 20px;
  border: transparent;
}

// selected song background
.selected {
  background: rgb(255, 233, 233);
}

.active-library {
  transform: translateX(0%);
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .library {
    width: 100%;
  }
}
